# Datadog credentials
DD_API_KEY=your_datadog_api_key_here
DD_APP_KEY=your_datadog_app_key_here

# Environment tag
DD_ENV=ff-demo
DD_SERVICE=ff-demo
DD_VERSION=1.0.0

# Datadog site (e.g. datadoghq.com, datadoghq.eu, us5.datadoghq.com)
DD_SITE=datadoghq.com
